.hamburger {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 15px;
    top: 30px;
    right: 30px;
    z-index: 2;
    cursor: pointer;
    &:hover {
        animation-name: humburger;
        animation-duration: 0.3s;
        animation-timing-function: linear;        
        animation-fill-mode:forwards;
    }
    span {
        width: 100%;
        height: 3px;
        background-color: $v;
    }
}