.skills {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
}
.h2 {
    background-color: darkgray;
}
.skillsBox {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}