@import '../../styles//variables/variables.scss';

.header {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    position: absolute;
    .nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        top: 30px;
        left: 30px;
        position: fixed;
        .link {
            border-left: 2px solid transparent;
            color: $textColor;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 400;
            padding: 0 10px;
            text-transform: uppercase;
            transition: all 0.2s;
            text-decoration: none;
            &:hover {
                color: $mainColor;
            }
            &:active {
                border-left: 2px solid $mainColor;
                color: $mainColor;
            }
        }
    }
}