.works {
    background-color: greenyellow;
    display: flex;
    justify-content: center;
}
.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
}
.h2 {
    background-color: darkgray;
}
.worksBox {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}