.app-style-settings{
    display: flex;
    gap: 10px;
    .setting-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: var(--bs-nav-link-font-size);
        font-weight: var(--bs-nav-link-font-weight);
        text-decoration: none;
        color: rgba(250, 250, 250, 0.9);
	    transition: all .2s ease;
        &:hover {
            color: #20c997;
        }
    }
    .setting-line {
        color: rgba(250, 250, 250, 0.9);
    }
}